@font-face {
  font-family: "Gurajada", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../Encriptador/src/fonts/Gurajada-Regular.ttf");
}

@font-face {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  src: url("../Encriptador/src/fonts/ShareTechMono-Regular.ttf");
}

:root {
  --first-color: #ff9ecd;
  --second-color: #fff0f6;
  --third-color: #34113f;
  --fourth-color: #8c426d;
  --fifth-color: #2c1f26;
  --hover-color: #f074b0;
  --shadow-color: rgb(44, 31, 38 ,0.4);
  --font-primary: "Gurajada", sans-serif;
  --font-secondary: "Share Tech Mono", monospace;

}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(1rem + 2vw)
}


body::-webkit-scrollbar {
  width: 0.1rem;           
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);          
}


body{
    background-color: var(--first-color);
    height: 100vh;
}


.header{
  background-color: var(--second-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  box-shadow: 0rem 0.1875rem 0.3125rem 0rem rgba(0,0,0,0.3);
}


.icono{
  max-height: 100%;
  width: auto;
  height: 5vh;
  max-width: 100%;
  box-sizing: border-box;
  
}

.alert{
  background-color: var(--fourth-color);
  padding: 0.5rem;
  color: var(--second-color);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}

.alert.show{
    opacity: 1; 
}

.alert.hidden{
  display: none;
}

section {
  height: 38vh;
  font-family: var(--font-secondary);
}

p{
  font-size: 1.3rem;
  color: var(--third-color);
}

small{
  font-size: 0.6rem;
  color: var(--third-color);
}

.espacio{
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruccion{
  position: absolute;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3 ease;
}

.instruccion.hidden{
  opacity:0;
  pointer-events: none;
}

.input{
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0.1875rem 0.3125rem 0rem var(--shadow-color);
  justify-content: center;
  position: relative;
  align-items: center;

}

.input textarea{
  width: 90%;
  height: 80%;
  background-color:var(--first-color);
  border: none;
  color: var(--third-color);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  resize: none;
}

.input textarea:focus{
  outline: none;
}


.botones{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--second-color);
  padding: 1.8%;
}

button{
  padding: 2%;
  border: none;
  background-color: var(--first-color);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.09rem 0rem 0rem var(--fourth-color);
  display: flex;
  justify-content: center; 
  align-items: center;
  transition-duration: 0.2s;
}

button:hover{
  background-color: var(--hover-color);
}

.output{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
  position: relative;
}

.contenido{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--third-color)
  
}

.espacio-output{
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.espacio-output.hidden{
  opacity:0;
  pointer-events: none;
}




